@page
@model IndexModel
@{
    ViewData["Title"] = "localhost";
    Layout = null;
}

<div>
    <p>@Html.Raw(Model.DeviceInfo?.Replace("\n", "<br />"))</p>
</div>

<div>
    <button type="button" onclick="location.href='/addtrip'">Добавить путешествие</button>
</div>
